@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
    display: flex;
    justify-content: center;
    font-family: Roboto;
    
    overflow: scroll;
}

.main_container {
    background-color: rgb(233, 141, 19);
    height:auto;
    width: 70%;
    

}

/* Top Section */

.top {
    display: flex;
    flex-flow: wrap;
    position: relative;

}

#box1 {
    background-color: aqua;
    display: flex;
    align-items: center;
    width:60%;


}


#image-container img {
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    
}

#name  h2, h4{
    margin:0px 20px;
}


#box2 {
    background-color: aquamarine;
    width: 40%;
    
    
}

#box3 {
    background-color: blue;
    flex-grow: 1;
    padding: 10px;
}

/* Bottom Section */

.bottom {
    display: flex;
    justify-content: center;
}

.bottom_box {
    height: 500px;
    width:500px;
}

.bottom_box h3 {
    background-color: bisque;
}

#section2 {
    background-color: azure;
    width: 70%;
    height:100%;
    padding: 10px;
}

#section3 {
    background-color: beige;
    width:30%;
    height: auto;
    padding: 10px;
}